
.icon-up-bold:before { content: '\e801'; } /* '' */
.icon-th:before { content: '\e803'; } /* '' */
.icon-keyboard:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */